{% extends 'base.html' %}

{% block content %}
    <main class="main">
        <div class="jumbotron">
            <div class="container">
                <h1 class="display-3">Світ IT</h1>
                <p>
                    Найцікавіші та оперативні новини зі світу високих технологій.
                    На нашому порталі - все про комп'ютерне залізо, гаджети, ноутбуки та інші цифрові товари.
                </p>
                <p>
                    <a class="btn btn-primary btn-lg" href="news.html" role="button">Читати далі »</a>
                </p>
            </div>
        </div>

        <!-- Останні новини -->
        <div class="container">
            <!-- Example row of columns -->
            <div class="row">
                <div class="col-md-4">
                    <h2>Політ на Марс</h2>
                    <p>
                        Пілотований політ на Марс - запланований політ людини на Марс за допомогою космічного корабля, що пілотується.
                        Роскосмос, НАСА та EKA оголосили політ на Марс своєю метою у XXI столітті, у 2045 чи 2050 році.
                    </p>
                    <p>
                        <a class="btn btn-secondary" href="#" role="button">Читати далі »</a>
                    </p>
                </div>
                <div class="col-md-4">
                    <h2>Xiaomi и MIUI</h2>
                    <p>
                        Великою відмінністю MIUI 13 буде дизайн. Їй дістануться нова анімація та шрифтами.
                        Оболонка відрізнятиметься переробленими значками додатків та новими "живими" шпалерами.
                        Ця оболонка ось-ось з'явиться у смартфонах Xiaomi.
                    </p>
                    <p>
                        <a class="btn btn-secondary" href="#" role="button">Читати далі »</a>
                    </p>
                </div>
                <div class="col-md-4">
                    <h2>GitHub рейтинг</h2>
                    <p>
                        Середній час мерджа (злиття нового та існуючого коду. — Прим. Inc.)
                        становило 7,5 години — на 18% менше торішнього рівня. За словами аналітиків, незважаючи на віддалення,
                        команди стали взаємодіяти активніше та розробка прискорилася.
                    </p>
                    <p>
                        <a class="btn btn-secondary" href="#" role="button">Читати далі »</a>
                    </p>
                </div>
            </div>
            <hr>
        </div>
        <footer class="footer mb-5">
            <div class="container">
                <span class="text-muted">Блог, новини, все зі світу IT.</span>
            </div>
        </footer>
    </main>
{% endblock %}