<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet"
          href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css"
          integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm"
          crossorigin="anonymous">
    <title>Головна сторінка</title>
</head>
<body>
    <nav class="navbar navbar-expand-lg navbar-dark bg-dark">
        <a class="navbar-brand mr-5" href="#">IT world</a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
          <span class="navbar-toggler-icon"></span>
        </button>
      
        <div class="collapse navbar-collapse" id="navbarSupportedContent">
            <ul class="navbar-nav mr-auto">
                <li class="nav-item active">
                    <a class="nav-link" href="#">Головна</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="news.html">Новини</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="blog.html">Блог</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="#">Адмін-панель</a>
                </li>
            </ul>
        </div>
    </nav>
    <main class="main">
        <div class="jumbotron">
            <div class="container">
                <h1 class="display-3">Світ IT</h1>
                <p>
                    Найцікавіші та оперативні новини зі світу високих технологій.
                    На нашому порталі - все про комп'ютерне залізо, гаджети, ноутбуки та інші цифрові товари.
                </p>
                <p>
                    <a class="btn btn-primary btn-lg" href="news.html" role="button">Читати далі »</a>
                </p>
            </div>
        </div>

        <!-- Останні новини -->
        <div class="container">
            <!-- Example row of columns -->
            <div class="row">
                <div class="col-md-4">
                    <h2>Політ на Марс</h2>
                    <p>
                        Пілотований політ на Марс - запланований політ людини на Марс за допомогою космічного корабля, що пілотується.
                        Роскосмос, НАСА та EKA оголосили політ на Марс своєю метою у XXI столітті, у 2045 чи 2050 році.
                    </p>
                    <p>
                        <a class="btn btn-secondary" href="#" role="button">Читати далі »</a>
                    </p>
                </div>
                <div class="col-md-4">
                    <h2>Xiaomi и MIUI</h2>
                    <p>
                        Великою відмінністю MIUI 13 буде дизайн. Їй дістануться нова анімація та шрифтами.
                        Оболонка відрізнятиметься переробленими значками додатків та новими "живими" шпалерами.
                        Ця оболонка ось-ось з'явиться у смартфонах Xiaomi.
                    </p>
                    <p>
                        <a class="btn btn-secondary" href="#" role="button">Читати далі »</a>
                    </p>
                </div>
                <div class="col-md-4">
                    <h2>GitHub рейтинг</h2>
                    <p>
                        Середній час мерджа (злиття нового та існуючого коду. — Прим. Inc.)
                        становило 7,5 години — на 18% менше торішнього рівня. За словами аналітиків, незважаючи на віддалення,
                        команди стали взаємодіяти активніше та розробка прискорилася.
                    </p>
                    <p>
                        <a class="btn btn-secondary" href="#" role="button">Читати далі »</a>
                    </p>
                </div>
            </div>
            <hr>
        </div>
        <footer class="footer mb-5">
            <div class="container">
                <span class="text-muted">Блог, новини, все зі світу IT.</span>
            </div>
        </footer>
    </main>
</body>
</html>